{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pages:index' %}">jobs</a>
      </li>






    </ul>



    <ul class="navbar-nav ml-auto">
        {% if user.is_staff %}

            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'bookings:bookings' %}">Bookings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'teachers:teachers' %}">Teachers</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'cities:venues' %}">Venues</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'contact:contacts-list' %}">Messages</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i>LOGOUT</a>

        </div>
      </li>




        {% else %}


        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>
                Login</a>
        </li>
        {% endif %}



    </ul>



  </div>
</nav>





