<p>
    <span class="exsadie">
        80’s theme Dance Hen Party
    </span><br>
    Fame, Flashdance and Footloose! Everyone loves the songs, music, outfits from the 80’s and what an incredible way to celebrate any special occasion. This 80’s dance lesson suits everyone and of varying dance abilities. Our professional dance instructor will break down the dance routine into small pieces and the choreography will be adapted to suit your group.  80′s style FAME class is vibrant, exiting, entertaining and will have you dancing in no time.
</p>


<p>
    <span class="exsadie">
  Music
    </span><br>

    Fame flash Dance Foot lose Maddona or your choice of the 80s
</p>

<p>
    <span class="exsadie">
  What to wear to your hen party
    </span><br>
    Trainers for the feet. Leg warmers , head bands , perms, big hair, bright colours
</p>

{% include 'partials/_dances_common.html' %}