<p>
    <span class="exsadie">
        90’s Theme Dance Hen Party
    </span><br>
What can we say about the 90s. It was all about boy bands, girl groups, and well just bands from take that, back street boys, oasis to the spice girls not to mention steps .
    <br> Don’t forget artists like Britney Spears, Christina Aguilera. We felt like we had it all and we will help you relieve that with our 90s dance party in Liverpool we will teach you all the cool famous dance steps from when life was simple and all you had to worry about was if you had your latest copy of Smash hits. Tell your top 5 favourite song s in preference order and your dancer will choreograph a routine to one of the songs.

</p>


<p>
    <span class="exsadie">
  Music
    </span><br>

    Send us your top 5 90s sons in preference order
</p>

<p>
    <span class="exsadie">
  What to wear to your hen party
    </span><br>
    Trainers for the feet. track suits , Leg warmers , head bands , perms, big hair, bright colours
</p>

{% include 'partials/_dances_common.html' %}