<p>
    <span class="exsadie">
        Abba Theme Dance Hen Party
    </span><br>
Mama Mia Grab your microphones and lets head back to the 70’s. Be prepared for you and your girls to be whipped into your very own troupe of dancing queens which will make you want to thank us for the music the joy were giving
    <br>During the class you will have fun and build confidence learning some great moves from the 80′s to put together and create a fantastic routine. You can take these moves out on your hen night, a girly night or even at the wedding. we promise to make your 70 dance hen party in birmingham one to remember...
</p>


<p>
    <span class="exsadie">
  Music
    </span><br>
So many hits to choose from where does one begin. Well the most popular is Dancing Queen then Mamma mia ... Who am i kidding they are all great
    with all the hits like , Super Trouper, Mamma Mia, Name of the Game, One of Us , Knowing Me Knowing You, Gimme! Gimme! Gimme! ( A Man After Midnight)"
Take a Chance on Me

</p>

<p>
    <span class="exsadie">
  What to wear to your hen party
    </span><br>
    Trainers for the feet. Flares, Leg warmers , head bands , perms, big hair, bright colours . JUST THINK ABBA
</p>

{% include 'partials/_dances_common.html' %}