<p class="exsadie">Belly Dance Workshops for Hen Parties</p>

<p>Belly dancing has recently been re popularized by Latin American superstar Shakira. her part-Lebanese background has influenced her style.
A sensual, elegant and expressive dance with the focus being on the pelvic and hip area. The dancers aim is to express and communicate the emotion and rhythm of the music.
Your instructor will give you a taster of the art of belly dancing and you will learn a choreographed routine and you will at least have a lot of laughs!
</p>

<p class="exsadie"> What to wear to your hen party</p>
What ever you feel comfortable in or something outrageous!

<p>Teacher will provide coin belts </p>

<p class="exsadie">When and where</p>
<p>
    We can hold your hen party on any day of the week, at a time to suit you in a location close to your day or night out- morning or afternoons.
</p>

<p class="exsadie">Price</p>
<p>
 £{{ booking.cost }}   all inclusive of instructor and studio if booked before the {{ booking.book_before_date|date:"l jS   F Y" }} <br>

</p>


<p class="exsadie">How to book</p>
<p>
    Just give us a call 07846518558 to discuss your requirements on or send an email. {{ booking.city.email }}
</p>

<p>
    Kind regards <br>
{{ booking.city }} Dance Centre <br>
Admin team
</p>