<p class="exsadie">Belly Dance Workshops for Hen Parties</p>

<p>Belly dancing has recently been re popularized by Latin American superstar Shakira. her part-Lebanese background has influenced her style.
A sensual, elegant and expressive dance with the focus being on the pelvic and hip area. The dancers aim is to express and communicate the emotion and rhythm of the music.
Your instructor will give you a taster of the art of belly dancing and you will learn a choreographed routine and you will at least have a lot of laughs!
</p>

<p class="exsadie"> What to wear to your hen party</p>
What ever you feel comfortable in or something outrageous!

<p>Teacher will provide coin belts </p>

{% include 'partials/_dances_common.html' %}