
<p>
    <span class="exsadie">
        Beyonce Dance Single Ladies Workshops for dance Parties <br>
    </span>
    Now Put your hands Up ..... An all time favorite of hen parties if i ever saw one... Your instructor will choreograph a dance routine that will make you want to put a ring on it or at the very least get up dancing to oh oh oh oh oh oh oh oh .. this is a fun and catchy routine that we dare any one to not get up and dance..
 </p>


<p>
    <span class="exsadie">
        What to wear to your hen party <br>
    </span>
Trainers for your feet , Loose comfortable clothing on top , Beyonce glam clothing also works well for this. <br>
Why not get an all in one Beyonce catsuit for the hen
</p>


{% include 'partials/_dances_common.html' %}