<p>
    <span class="exsadie">
        Bollywood Dance Workshops for Hen Parties <br>
    </span>

    Bollywood dancing is a commercial name for modern Indian dancing. It's a combination of classical Indian dance (which is the base), folk dancing such as Bhangra and sometimes has a Latino and Arabic influence.
It's fun and very expressive and there's a lot of deep meaning behind music in the films. You can actually express what the music means, through the graceful movements of the body.
Your instructor will give you a taster of the art of bollywood and you will learn a choreographed routine and you will at least have a lot of laughs!
</p>

<p>
    <span class="exsadie">
  Ideas on what to wear: <br>
    </span>

  We suggest leggings and t-shirts;<br>
Authentic – Scarves or bindis are used . your instructor will have a  number of scarves for your group
Bare feet – this routine is traditionally danced in bare feet, but you can wear socks trainers or ballet / jazz shoes
</p>


{% include 'partials/_dances_common.html' %}