<p>
    <span class="exsadie">
        Britney theme Dance Hen Party
    </span><br>
Now forget womanizer. Now your guy is a a slave for u all there’s left to do is get your hen party off to a great start with one of our Britney style hen parties . you can choose any of Britney’s greatest hits and we will choreograph a routine to suit your needs... so hit it baby one more time because its time to become a slave to the music as we do what we do best!!!! So hit me baby one more time
</p>


<p>
    <span class="exsadie">
  Music
    </span><br>

    Baby One More Time <br>
Born to Make You Happy <br>
Boys  <br>
Circus (song)<br>
Gimme More<br>
Hold It Against Me<br>
(I Can't Get No) Satisfaction<br>
(I Got That) Boom Boom<br>
I Love Rock 'n' Roll<br>
I'm a Slave 4 U<br>
I'm Not a Girl, Not Yet a Woman<br>
If U Seek Amy<br>
Lucky <br>
Me Against the Music<br>
My Prerogative<br>
Oops!... I Did It Again <br>
Outrageous <br>
Overprotected<br>
Phonography <br>
Radar <br>
Stronger <br>
Toxic <br>
Womanizer <br>
(You Drive Me) Crazy <br>
</p>

<p>
    <span class="exsadie">
  What to wear to your hen party
    </span><br>
    Trainers for the feet. comfortable clothes <br>
    or go mad Any thing Britney from school uniform to air stewardess outfits
</p>

{% include 'partials/_dances_common.html' %}