<p>
    <span class="exsadie">
        Burlesque Dance Hen Parties <br>
    </span>

    Learn the art of Burlesque dancing with feather Boas, glove peeling and strutting like a showgirl, all put together in a choreographed dance routine, your teacher will awaken your inner Burlesque queen or you will at least have a lot of laughs!

the workshop will teach you all you need to know about the art of the tease including the basic moves of burlesque, characterisation, prop usage, the secrets of a seductive striptease and how to create your very own unique burlesque stage name!

</p>


<p>
    <span class="exsadie">
    The ladies will need to bring <br>
    </span>
The list provided is recommended <br>

A pair of flats  Needed <br>
A skirt/dress they can move comfortably in (Highly recommended) <br>
    Ps note the teacher will bring in Boas, props
</p>


{% include 'partials/_dances_common.html' %}