
<p>
    <span class="exsadie">
        Charleston theme Dance Hen Party
    </span><br>
This 1920s dance become popular within the United states in 1923. It was first performed to a song called ‘The Charleston’ in the Broadway show ‘Runnin’ Wild’. Of course realistically we wouldn’t want to live in an era that banned alcohol but we can’t deny all us girls love the look of the parties in the 1920s. The movements are very quick paced but ridiculously fun. With a Charleston dance hen party, you will have the chance to learn a fully choreographed dance to classic 20’s jazz music. This theme is definitely in our most popular dance party themes.
    <br>During your Charleston 1920’s dance class hen party you will learn vintage classic Charleston steps. The Charleston dance uses both swaying arms and the fast movement of the feet. You’ll learn some basic Charleston iconic steps whilst swinging and swaying along to some ragtime-jazz music keeps everyone smiling.  jazz music and become a Charleston dance expert by the end. This theme is becoming increasingly popular amongst hen parties. If you’re a lover of all things vintage, then you’ll enjoy this Charleston dance party. So ladies grab your red lippy on and put on feathered head bands and start swaying.
 </p>


<p>
    <span class="exsadie">
  Music
    </span><br>

    old classic 1920s the Charleston to latests trends like Will.i.am Bang Bang
</p>

<p>
    <span class="exsadie">
  What to wear to your hen party
    </span><br>
    Dress up wearing, fringed flapper dresses, blacks and reds, fishnet tights, feathered head bands, beaded pearls, red lipstick.
</p>

{% include 'partials/_dances_common.html' %}