<p>
    <span class="exsadie">
       Cheerleading   hen  party <br>
    </span>
    Cheerleading originated in the United States and is an activity that is still mainly used in America though it is also used in Britain for sporting events at football and rugby matches.
The cheerleaders will perform a choreographed group routine consisting of tumbling, dance, jumps and stunts and also cheering on their team and encouraging the crowds at the match.
A fun activity for a group of hens, you will be provided with some pom poms and the instructor will personalize you your own Cheer routine with the bride to be the centre of attention and if your very good you might get to try the pyramid formation!

</p>

<p>
    <span class="exsadie">
  Props <br>
    </span>

    You will be provided with pom poms to use with in the workshop.
</p>


{% include 'partials/_dances_common.html' %}