<p>
    <span class="exsadie">
        Chicago Dance Workshops for Hen Parties <br>
    </span>

    Come on babe why don't we paint the town and all that jazz!!! Fancy yourself as the next velma kelly or roxy hart well this definately is the hen party for you... its sleek sexy with a whole lotta sassy thrown in for good measure ...
    During the class you will have fun and build confidence learning some great moves one of the greatest musicals running ..We put together and create a fantastic routine. You can take these moves out on your hen night, a girly night or even at the wedding
</p>

<p>
    <span class="exsadie">
    What to wear to your hen party <br>
    </span>

    Ideas on what to wear: trainers for the feet <br>
    something comfortable jazz hands leggings
</p>



{% include 'partials/_dances_common.html' %}