<p>
    <span class="exsadie">
     Dance Workshops for Hen Parties  <br>
    </span>

  If you're tired of the usual hen weekend activities and are looking for something a bit different - one of our dance workshops could be the answer.

</p>

<p>
    <span class="exsadie">
    Hen party ideas <br>

    </span>

    Along with all the fun and laughter the teacher will teach you a dance routine from the dance style of your choice.

There will be lots of opportunities to take photos and have breaks where required and of course the Bride to be will be the centre of attention. From our popular dirty dancing workshop to the fun street dance and the saucy Burlesque, what ever you choose you will be sure of a memorable and fun time with the girls.


</p>

<p>
    <span class="exsadie">
  Types of Different Hen Parties <br>
    <br> Cost : £{{ booking.cost }} <br>
    </span>

    70s Dance Hen Party <br>

80s Dance Hen Party<br>

Commercial dance party<br>

Grease Hen Party<br>

Britney Spears Hen Party<br>

Rhianna Dance Hen Party<br>

Dirty Dancing hen Party<br>

Abba Hen Party<br>

Beyonce Single Ladies Hen Party<br>

Street Dance Hen Party (you can either have a generic hen Party to all different types of commercial chart songs or you can choose your favourite song and we can choreograph a routine to the song)
    Why not email over the hens top 5 songs in preference order and the instructor will choreograph the most suitable song
<br>

    OR IF IT IS A DIFFERENT STYLE OF DANCE LET US KNOW WE HAVE OVER 30 DIFFERENT TEACHERS WHO ARE EXPERTS IN THEIR OWN STYLE OF DANCE

</p>


<p>
    <span class="exsadie">
  Cost  : £{{ booking.cost |add:"10" }} <br>
    </span>

    Burlesque Dance Hen Party
</p>


<p>
    <span class="exsadie">
  Cost  : £{{ booking.cost |add:"20" }}
    </span>
    <br>
Bollywood Dance Hen Party <br>

Pole Dance Hen party <br>

Flamenco Dance party <br>

 Salsa dance Hen party <br>

Belly Dance Hen Party</p>





<p>
  <span class="exsadie">
      Our Dance Instructors
  </span>
    <br>
    Our teachers are professional trained dancers who not only teach but perform on stage in concerts have experience with choreography to make your dance hen party an activity to remember!!!!!

</p>


<p> <span class="exsadie">
    What to bring<br>
</span>
Cameras so you can capture all the fun.
Hen parties throughout the UK </p>

<p><span class="exsadie">
    When and where <br>
</span>
We can hold your hen party on any day of the week, at a time to suit you in a location close to your day or night out- morning or afternoons. </p>

<p>
    <span class="exsadie"> Price  </span>
    <br>

 £{{ booking.cost }} - £{{ booking.cost |add:"20" }}   all inclusive of instructor and studio if booked before the {{ booking.book_before_date|date:"l jS   F Y" }} <br>

</p>

<p>
    <span class="exsadie">Bubbly</span><br>
    You can add a  bottle of bubbly for the bride for an extra £10
</p>


<p>
    <span class="exsadie"> To Book  </span>
    <br>
    Just give us a call 07846518558 or email {{ booking.city.email }} to discuss your requirements or fill in the form and a member of our team will get back in touch with you

</p>
<p>
    Kind regards <br>
{{ booking.studio }}<br>
Admin team
</p>

