<p>
    <span class="exsadie">
        Dirty Dancing Parties in Manchester <br>
    </span>
   One of the most popular films with the ladies and a popular hen party Dirty Dancing will never get old Despite not being able to take you to the river to practice the lift ! Your teacher will create your own Dirty Dancing group routine to your favorite track from the movie so whether youve had the time of your life or you all just have hungry eyes we will be able to choreograph your routine and youll never be scared of walking out of our studio and never feeling the rest of your whole life the way you feel when youre with us
</p>

<p>
    <span class="exsadie">
   What to wear to your hen party
    </span>

    Ideas on what to wear: Trainers or soft flat shoes, <br>
    Rock & Roll skirts work well for this.
</p>


{% include 'partials/_dances_common.html' %}