<p>
    <span class="exsadie">
        Dirty Dancing Parties in Manchester <br>
    </span>
   One of the most popular films with the ladies and a popular hen party Dirty Dancing will never get old Despite not being able to take you to the river to practice the lift ! Your teacher will create your own Dirty Dancing group routine to your favorite track from the movie so whether youve had the time of your life or you all just have hungry eyes we will be able to choreograph your routine and youll never be scared of walking out of our studio and never feeling the rest of your whole life the way you feel when youre with us
</p>

<p>
    <span class="exsadie">
   What to wear to your hen party
    </span>

    Ideas on what to wear: Trainers or soft flat shoes, <br>
    Rock & Roll skirts work well for this.
</p>


<p>
  <span class="exsadie">
      Our Dance Instructors
  </span>
    <br>
    Our teachers are professional trained dancers who not only teach but perform on stage in concerts have experience with choreography to make your dance hen party an activity to remember!!!!!

</p>


<p> <span class="exsadie">
    What to bring<br>
</span>
Cameras so you can capture all the fun.
Hen parties throughout the UK </p>

<p><span class="exsadie">
    When and where <br>
</span>
We can hold your hen party on any day of the week, at a time to suit you in a location close to your day or night out- morning or afternoons. </p>

<p>
    <span class="exsadie"> Price  </span>
    <br>

 £{{ booking.cost }}   all inclusive of instructor and studio if booked before the {{ booking.book_before_date|date:"l jS   F Y" }} <br>

</p>

<p>
    <span class="exsadie">Bubbly</span><br>
    You can add a  bottle of bubbly for the bride for an extra £10
</p>


<p>
    <span class="exsadie"> To Book  </span>
    <br>
    Just give us a call 07846518558 or email {{ booking.city.email }} to discuss your requirements or fill in the form and a member of our team will get back in touch with you

</p>
<p>
    Kind regards <br>
{{ booking.studio }}<br>
Admin team
</p>

