<p>
    <span class="exsadie">Fame Dance Workshops for Hen Parties</span>
    <br>
    One of the most iconic film and tv dance series of the 80.s that defined a dance generation which made every one want to live forever and certainly get up and dance..<br>

Its all about style and how you do it, usually with a lot of attitude big hair perms leg warmers , head bands throw into the mix the odd arabesque jete  and lets not forget the all famous split jump and you are on your way to thinking about what your fame hen party will be like...

    <br> Your instructor will make you reach for the stars and by the end of it your hen will feel that she’s made it..
    <br>
The Fame dance option is a lot of fun and an easy dance form for everyone to have a go at, you will strut your stuff with lots of attitude and learn a choreographed dance piece Fame i wanna live forever or to a choice of your own music from the fame video , you will also have lots of new dance moves to try out on the dance floor later in the evening.

</p>
 


<p>
    <span class="exsadie">
        Music
    </span><br>

Fame i wanna live forever,  or an alternative song of your choice from the movie..
</p>

 
<p><span class="exsadie">
    What to wear to your hen party
</span>
    <br>
    Trainers for the feet. Leg warmers , head bands , perms, big hair, bright colours
</p>

 

{% include 'partials/_dances_common.html' %}