<p>
    <span class="exsadie">
      Flash Dance Workshops for Hen Parties
    </span>

    The film Flash Dance on the dance greatest box office hits of all time is  romance about a girl that worked as a welder by day and a dancer by night.
    <br>
‘What a feeling” performed by Irene Cara “maniac” and “Gloria” are some of the popular tracks from the soundtrack of the film.
    <br>

A great film with a great soundtrack, makes a great dance workshop for your hen day activity,



You will learn a Flash dance number personalized to suit you and the girls with the films 80’s inspired moves.
</p>

 
<p>
    <span class="exsadie">
    What to wear to your hen party <br>
    </span>

    Ideas on what to wear: <br>

We suggest leggings and t-shirts, leg warmers head bands, big hair wigs trainers;
</p>


<p>
  <span class="exsadie">
      Our Dance Instructors
  </span>
    <br>
    Our teachers are professional trained dancers who not only teach but perform on stage in concerts have experience with choreography to make your dance hen party an activity to remember!!!!!

</p>


<p> <span class="exsadie">
    What to bring<br>
</span>
Cameras so you can capture all the fun.
Hen parties throughout the UK </p>

<p><span class="exsadie">
    When and where <br>
</span>
We can hold your hen party on any day of the week, at a time to suit you in a location close to your day or night out- morning or afternoons. </p>

<p>
    <span class="exsadie"> Price  </span>
    <br>

 £{{ booking.cost }}   all inclusive of instructor and studio if booked before the {{ booking.book_before_date|date:"l jS   F Y" }} <br>

</p>

<p>
    <span class="exsadie">Bubbly</span><br>
    You can add a  bottle of bubbly for the bride for an extra £10
</p>


<p>
    <span class="exsadie"> To Book  </span>
    <br>
    Just give us a call 07846518558 or email {{ booking.city.email }} to discuss your requirements or fill in the form and a member of our team will get back in touch with you

</p>
<p>
    Kind regards <br>
{{ booking.studio }}<br>
Admin team
</p>

