<p>
    <span class="exsadie">
       Flamenco Dance Hen Party <br>
    </span>

    Our Flamenco dance hen party is expressive, and fun designed to make your party feel like a group of senioritas. you will be taught percussive footwork, hand clapping and intricate hand,arm and body movements all put together to form a dance routine you can certainly take out with you (depending on where you are out later in the evening.
</p>

<p>
    <span class="exsadie">
    What to wear to your hen party <br>
    </span>

    What ever you feel comfortable in Hard Shoes Flower for your hair Long skirts. <br> you can also bring in flat shoes.
</p>



{% include 'partials/_dances_common.html' %}