<p>
    <span class="exsadie">
       Grease Dance Hen  Parties <br>
    </span>

    Oh Sandy... well we dont need to tell you more about what this hen party entails.. Our instructor will choreograph a routine to you favourite grease sound track and get you up and dancing in a second... Whether you fancy yourself as a pink lady or a T Bird your hen party will definitely feel like a summer night.. The hen will of course be sandy and all the girls in the group will be her pink ladies . If there are some tbirds in the group well it just adds to the atmosphere. At your dance hen party you will be working towards a mini dance production
</p>

<p>
    <span class="exsadie">
   Music <br>
    </span>

   Grease Mega mix , Greased Lightning, or an alternative song of your choice from the movie..

</p>

<p>
    <span class="exsadie">
  What to wear to your Hen  party <br>
    </span>

   Trainers for the feet. Leg warmers , head bands , perms, big hair, bright colours pink lady or t bird jackets

</p>

{% include 'partials/_dances_common.html' %}