<p>
    <span class="exsadie">
        POLE DANCE HEN PARTIES <br>
    </span>


    pole dancing session lasting up to 90 minutes. It is great way for you to have a laugh with your friends, while learning how to do a basic pole dancing routine..
    <br>  {{ booking.city }} Dance centre is always happy for pictures and videos to be taken so remember to bring your cameras!
    <br>
    {{ booking.city }}  Dance centre prides itself on its high quality of instruction with understanding and patience. All activities are explained and demonstrated fully and safety issues are always taken into account

</p>

 <p>
    <span class="exsadie">
     FAQ's <br>

    </span>


    What clothes should you wear? : Shorts and vest tops are best as bare flesh facilitates pole grip. You may want to bring some track suit bottoms to put on during warm up/cool down. Most importantly you need to wear something you feel comfortable in; so normal work-out clothes are fine.
    <br>

What shoes should you wear? Light weight training shoes are best. I recommend dance trainers or jazz shoes. You may also bring a pair of High heels if you wish.
    <br>

Why shouldn't I apply lotion, oil or moisturising cream prior to class? These make the pole slippery and decreases pole grip which is undesirable.


</p>

{% include 'partials/_dances_common.html' %}