<p>
    <span class="exsadie">
        Salsa Dance Workshops for Hen Parties <br>
    </span>
    If Salsa is your flavour of style and your favourite way to move on the dance floor. <br>
    Then this will be a great hen activity to share with the girls, You will learn basic Salsa foot work which the instructor will put together into your own personalized routine.
</p>

<p>
    <span class="exsadie">
    What to wear to your hen party <br>
    </span>
    soft, flat shoes and something comfortable.

</p>

{% include 'partials/_dances_common.html' %}