<p>
    <span class="exsadie">
        Spicae Girls’s Theme Dance Hen Party
    </span><br>
I tell you what I want what ireally really want <br>
Who can’t remember the spice girls one of the uks greatest girl bands of all time bringing girl power to the world .
    <br>

Why not start that special day with your favourite spice girls songs</p>


<p>
    <span class="exsadie">
  Music
    </span><br>

Wannabe <br>
Say You'll Be There <br>
    2 Become 1 <br>
Mama <br>
Who Do You Think You Are <br>
Move Over <br>
Spice Up Your Life <br>
Too Much <br>
Stop <br>
Viva Forever <br>
Let Love Lead the Way </p>

<p>
    <span class="exsadie">
  What to wear to your hen party
    </span><br>
trainers comfortable clothing favourite spice mask</p>

{% include 'partials/_dances_common.html' %}