<p>
    <span class="exsadie">
       Street dance / Commercial dance hen party <br>
    </span>

    Fancy yourself as the next Rhianna, Britney Spears,, Lil kim or Miley Cyrus MTV has have brought street dance to our screens and made it widely popular.
    Its all about style and how you do it, usually with a lot of attitude! Our Street dance hen party in Manchester is a lot of fun and an easy dance form for everyone to have a go at.
    <br> You will strut your stuff with lots of attitude and learn a choreographed dance piece to a choice of your own music, you will also have lots of new dance moves to try out on the dance floor later in the evening.
</p>

<p>
    <span class="exsadie">
    Music <br>
    </span>

    Why not email over the hens top 5 songs in preference order and the instructor will choreograph the most suitable song

</p>

<p>
    <span class="exsadie">
   What to wear to your hen party <br>
    </span>

    Trainers for the feet. br
    Comfortable clothing to fit the style
</p>


{% include 'partials/_dances_common.html' %}